body{
    margin-top: 0%  ;
}
.centro{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /*
    Intento de autoajustable
    width: 100%;
    max-width: 500px;
    display: block;
    */
}

.redondo{
    position: absolute;
    z-index: 3;
    margin-top: 34rem;
    margin-left: 35rem;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    
}

.redondo2{
    position: absolute;
    z-index: 2;
    margin-top: 34rem;
    margin-left: 6.75rem;
    width: 74px;
    height: 75px;
    border-radius: 50%;
    
}



.facebook{
    position: absolute;
    z-index: 3;
    margin-top: 31%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.whatsapp{
    position: absolute;
    z-index: 3;
    margin-top: 41%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.twitter{
    position: absolute;
    z-index: 3;
    margin-top: 36%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.info{
    position: absolute;
    z-index: 3;
    
    margin-left: 1%;
    margin-top: 0%;
    width: 3%;
    opacity: 80%;
}

#prog_bar{
    display: block;
    margin-left: 5vw;
    margin-right: auto;

    
    position: absolute; 
    z-index: 3;

    /* margin: auto; */
    
    
    width: 90%;
    opacity: 80%;
}