body{
    margin-top: 0%  ;
}
.centro{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /*
    Intento de autoajustable
    width: 100%;
    max-width: 500px;
    display: block;
    */
}

.redondo{
    position: absolute;
    z-index: 3;
    margin-top: 34rem;
    margin-left: 35rem;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    
}

.redondo2{
    position: absolute;
    z-index: 2;
    margin-top: 34rem;
    margin-left: 6.75rem;
    width: 74px;
    height: 75px;
    border-radius: 50%;
    
}

#div-help {
    /* visibility: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 4rem;
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 1rem;
}

.h1-help {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.desc-help {
    font-size: 1.2rem;
}

.facebook{
    position: absolute;
    z-index: 3;
    margin-top: 31%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.whatsapp{
    position: absolute;
    z-index: 3;
    margin-top: 41%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.twitter{
    position: absolute;
    z-index: 3;
    margin-top: 36%;
    margin-left: 95%;
    align-items: flex-end;
    width: 3.5%;
    opacity: 80%;
}

.info{
    position: absolute;
    z-index: 3;
    
    margin-left: 2%;
    margin-top: 0%;
    width: 4%;
    opacity: 80%;
}
#pause_btn{
    position: absolute;
    z-index: 3;
    margin-left: 7%;
    margin-top: 39%;
    width: 5%;
    opacity: 80%;
}
#prog_bar{
    display: block;
    margin-left: 8%;
    margin-right: auto;

    
    position: absolute; 
    z-index: 3;

    /* margin: auto; */
    
    
    width: 90%;
    opacity: 80%;
}