#myVideo{
position: relative;
margin-top: -2rem;
width: 65%;
z-index: -1;
}

.redondo{
    position: absolute;
    z-index: 2;
    margin-top: 3rem;
    margin-left: 15rem;
    width: 22rem;
    height: 20rem;
    border-radius: 50%;
    opacity: 0;
}

.redondo2{
    position: absolute;
    z-index: 2;
    margin-top: 33rem;
    margin-left: 5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

#container {
    position: absolute;
    z-index: 2;
    width: 580px;
    height: 130px;
    margin-top: 30rem;
    margin-left: 20rem;
    /* border: 1px solid black; */
    text-align: center;
  }
  .padre {  
    width: 70px;
    height: 78px;
    display: flex;
    border-radius: 50%;
  }
  .tipo {
   flex-grow: 1;
   background-color: #4b3c30;
   border-radius: 50%;
  }
  /* #fuego {
   background-color: #ffd54c;
   border-radius: 50%;

  }  */
  
  .petro {
     /* margin: 10px; */
     height: 80px;
     width: 80px;     
  }